*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.navbar{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.li{
display: flex;
gap: 50px;
}
.container{
  width: 1600px;
  height: 3948px;
  margin: 0 auto;

}
.header{
  background-image: url(img/orqa,fon.png);
  width: 1600px;
height: 900px;
flex-shrink: 0;
padding: 0px 80px 0px 80px;
}
.p{
  color: #FFF;
font-family: Ribeye;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 1.44px;
}
.li{
  color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
}
.btn{
  border-radius: 5px;
background: #C9453B;
width: 163px;
height: 51px;
flex-shrink: 0;
color: white;
}
.main{
  margin-top: 212px;
}
.travel{
  color: #FFF;
font-family: Gelasio;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 78px */
width: 804px;
height: 154px;
flex-shrink: 0;
}
.write{
  color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
width: 458px;
}
.b{
  border-radius: 5px;
background: #C9453B;
width: 187px;
height: 59px;
flex-shrink: 0;
color: white;
}
.loremp{
  margin-top: 30px;
}
.buttonq{
  margin-top: 40px;
}
.div{
  text-align: center;
}
.loremx{
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.class{
  color: #000;
font-family: Gelasio;
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 60.2px */
}

.main{
  margin-top: 140px;
  
}



.img{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 10px;


 
}
h5{
  width: 306px;
  height: 55px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.color{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */

flex-shrink: 0;

}
.rang{
  color: #000;
  text-align: center;
  font-family: Gelasio;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  
}
.card_info{
  margin-top: 140px;
  text-align: center;
}
.yoq{
  color: #000;
font-family: Gelasio;
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 60.2px */
}
.classi{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.cardd{
  display: flex;
  gap: 73px;
  justify-content: center;
}

.t{
  color: #000;
font-family: Gelasio;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
}
.u{
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.s{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.r{
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.sapn{
  color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.card_info2{
  margin-top: 60px;
}
.taxt_info2{
  margin-top: 20px;
}
.info_img23{
  margin-top: 80px;
  text-align: center;
}
.text_man{
  margin-top: 143px;
  text-align: center;
}
.klh{
  color: #000;
text-align: center;
font-family: Gelasio;
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 60.2px */
}
.taxt_p{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
margin-top: 20px;
}
.textx{
  width: 470px;
height: 151px;
flex-shrink: 0;
}
.tw{
  width: 271px;
height: 32px;
flex-shrink: 0;
}

.textct{
  display: flex;
}
.main_ert{
 display: flex;
  margin-top: 56px;
}

.footer{
  margin-top: 210px;
  display: flex;
}
.card_1{
  display: flex;
}
.aosa_div{
  display: flex;
  gap: 107px;
}
.textjh{
  color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.96px;
}
.em{
  width: 195px;
height: 44px;
flex-shrink: 0;
}
.tugmaful{
  border-radius: 5px;
background: #C9453B;
width: 103px;
height: 44px;
flex-shrink: 0;
color: white;
}
.collector {
  display: flex;
  gap: 73px;
  margin-top: 60px;
}